.nav-item i {
    width: 20px;
}

.main-color {
    color: var(--main-color) !important;
}

.bg-main-color {
    background-color: var(--main-color) !important;
}

.bg-main-dark-color {
    background-color: var(--main-dark-color) !important;
}
